.logoutButton:hover{
  background-image: linear-gradient(90deg,
  rgba(255, 255, 255, 0.1),
  rgba(15, 43, 54, 0.4),
  rgba(255, 255, 255, 0.1)
  );
  border-radius: 0rem 0rem 0.5rem 0.5rem;
}

.logoutButton2:hover{
  background-image: linear-gradient(90deg,
  rgba(255, 255, 255, 0.1),
  rgba(15, 43, 54, 0.4),
  rgba(255, 255, 255, 0.1)
  );
}

.loginText{
  border-radius: 0.5rem 0.5rem 0 0;
}

.signinBtn {
  border-top: solid white 2px;
}

input{
  background-color: rgba(255,255,255,0.4);
  font-family: Manrope;
  text-align: center;
  outline: none;
  color: white;
}
input::placeholder{
  text-align: center;
  color: rgba(23, 23, 23, 0.2);

}

.redBtn {
  background-image: linear-gradient(90deg,
  rgba(255, 255, 255, 0.1),
  rgba(255, 67, 67, 0.4),
  rgba(255, 255, 255, 0.1)
  );
  border-radius: 0rem 0rem 0.5rem 0.5rem;
}

.redBtn:hover {
  background-image: linear-gradient(90deg,
  rgba(255, 67, 67, 0.3),
  rgba(255, 67, 67, 0.6),
  rgba(255, 67, 67, 0.3)
  );
  border-radius: 0rem 0rem 0.5rem 0.5rem;
}
