.text {
    max-width: min(100vw, 400px);
}
img {
    max-width: min(100vw, 300px);
}
p {
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
}