#full-page-container {
    height: 100vh;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
main {
    max-width: min(100vw, 900px);
    padding: 20px 60px;
    margin: auto;
}
.basic>* {
    margin: 0 20px
}
.text h1{
    color: rgb(223, 217, 217);
    -webkit-text-stroke: 0.5px black;
}

.dataContainer {
    width: 90vw;
}
.left {
    flex-basis: 40vw;
    flex-shrink: 1;
}
#bookmark{
  color: white;
}
#citiesDiv{
  background-color: #171717;
}
