<div *ngIf="placeDetails" style="background-image: url({{placeDetails.img}});" id="full-page-container" class="flex">
    <app-navbar></app-navbar>
    <div class="text bg-white rounded flex flex-wrap row items-center w-fit">
      <div class="flex flex-col">
        <div class="basic flex flex-row items-center">
            <mat-icon fontIcon="{{bookmarked ? 'bookmark' : 'bookmark_outline'}}" (click)="toggleBookmark()" fontIcon="bookmark_outline" class=""></mat-icon>
            <h1 class="text-5xl font-bold">{{placeDetails.name}}</h1>
            <app-weather *ngIf="placeDetails.lat && placeDetails.lon" [lat]="placeDetails.lat" [lon]="placeDetails.lon" class="justify-self-end"></app-weather>
        </div>
        <p>{{placeDetails.desc}}</p>
      </div>
      <div>
      <app-star-rating 
      [placeName]="placeName"
      class=""></app-star-rating>
      </div>
      


    </div>

</div>
<div class="detailed-view" *ngIf="sights">
    <div *ngFor="let sight of sights">
        {{sight.name}}
    </div>
    <div *ngFor="let ax of accommodation">
        {{ax.name}}
    </div>
</div>