span {
    display: inline-block;
    height: 24px;
    /* color: yellow; */
}
.base {
    position: relative;
}
.lefthalf, .righthalf {
    width: 12px;
    position: absolute;
}
.righthalf {
    left: 12px;
}
:host {
    background: white;
}
button {
    background: red;
}