<div class="container" (click)="clickEvent()" (mouseleave)="hoverEvent(rating)">
<span class="base" *ngFor="let index of starsArr">
    <span (mouseover)="hoverEvent(index + 1/2)" class="lefthalf"></span>
    <span (mouseover)="hoverEvent(index + 1)"class="righthalf"></span>
    <mat-icon aria-hidden="false" aria-label="Example home icon" 
    fontIcon="{{
        index < tempRating ? 
            index < tempRating-0.5 ?
                'star' :
                'star_half'
        : 'star_outline'
    }}"></mat-icon>
</span>
</div>
<div>
<mat-form-field>
    <textarea [(ngModel)] = "text" disabled="{{!editable}}" matInput placeholder="Enter your review..."></textarea>
</mat-form-field>
</div>
<button (click)="toggleEditable()">{{
    !uid ? "Log in to review" :
    editable ? "Save" : "Edit"
}}</button>