<div class="bg-white rounded h-fit p-3 flex flex-col justify-between">
  <div class="container" (click)="clickEvent()" (mouseleave)="hoverEvent(rating)">
    <div class="flex flex-row justify-between ">
      <div><strong>{{avgRating ? avgRating.numReviews : 0}} </strong>{{avgRating && avgRating.numReviews === 1 ? "Review" : "Reviews"}}</div>
        <div class="flex flex-row">
        <div>{{avgRating ? avgRating.avg : "NA"}}/5</div>
        <mat-icon fontIcon="star" class="ml-2"></mat-icon>
        </div>
    </div>
    <div class="flex flex-row justify-end mt-2">
      <span class="base my-2" *ngFor="let index of starsArr">
          <span (mouseover)="hoverEvent(index + 1/2)" class="lefthalf"></span>
          <span (mouseover)="hoverEvent(index + 1)"class="righthalf"></span>
          <mat-icon aria-hidden="false" aria-label="Example home icon"
          fontIcon="{{
              index < tempRating ?
                  index < tempRating-0.5 ?
                      'star' :
                      'star_half'
              : 'star_outline'
          }}"></mat-icon>
      </span>
    </div>
  </div>
<div>
  <mat-form-field>
    <textarea [(ngModel)] = "text" disabled="{{!editable}}" rows="8" matInput placeholder="Enter your review..."></textarea>
  </mat-form-field>
</div>
<button (click)="toggleEditable()">{{
    !uid ? "Log in to review" :
    editable ? "Save" : "Edit"
}}</button>
</div>
