#container {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  padding-left: 10px;
  padding-top: 10px;
}
img {
  width: 40px;
  display: inline-block;
  margin-right: 8px;
  padding: 6px;
}
img:last-child{
  margin-right: 10px;
}

a {
  font-family: 'Manrope', sans-serif;
  font-size: 32.5px;
}

strong {
  letter-spacing: -4px;
}

.bgNav{
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.0));
}
