#container {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  width: 100vw;
}
img {
  width: 40px;
  display: inline-block;
  padding: 6px;
  color: white;
}

a {
  font-family: "Manrope", sans-serif;
  font-size: 32.5px;
}

strong {
  letter-spacing: -4px;
}

.bgNav {
  background-image: linear-gradient(
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0)
  );
}

mat-icon {
  font-size: 40px;
  height: 40px;
  width: 40px;
  color: white;
}

app-signin {
  position: absolute;
  top: 45px;
  right: 110px;
  z-index: 10;
}

h1 {
  font-size: 7vh;
}

#logo {
  transform: scale(4);
  margin-left: 38px;
}

app-search {
  position: absolute; 
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  margin-top: -42vh;
  width: 67vw; /* Need a specific value to work */
  top: 50px;
}