<div
  id="citiesContainer"
  [ngStyle]="{ backgroundImage: 'url(' + selectedCity.img + ')' }"
  class="flex row"
>
  <div id="cityInfoContainer" class="flex flex-col justify-end ml-3">
    <h1 class="text-6xl font-bold" id="cityName">{{ selectedCity.name }}</h1>
    <p class="text-white">
      {{ selectedCity.lon }}° N, {{ selectedCity.lat }}° E
    </p>
    <br />
    <p class="text-shadowed-white" id="desc">{{ selectedCity.desc }}</p>
    <br />
    <a
      mat-raised-button
      id="readMoreButton"
      routerLink="/place/{{ selectedCity.name.toLowerCase() }}"
      >Read more details</a
    >
  </div>
  <div
    class="flex items-end"
    id="cityButtonsContainer"
    infiniteScroll
    [infiniteScrollDistance]="4"
    [infiniteScrollThrottle]="0"
    [horizontal]="true"
    [scrollWindow]="false"
    (scrolled)="onScroll()"
  >
    <ng-container *ngFor="let city of cities">
      <button
        class="cityButton flex flex-col shrink-0"
        (click)="click(city)"
        [ngStyle]="{ backgroundImage: 'url(' + city.img + ')' }"
        appHighlight
      >
        <p class="text-3xl cityName">{{ city.name }}</p>
      </button>
    </ng-container>
  </div>
</div>
