<div
  id="citiesContainer"
  [ngStyle]="{
    backgroundImage:
      'radial-gradient(rgba(0, 0, 0, 0) 65%, rgba(0, 0, 0, 0.6)), url(' +
      selectedCity.img +
      ')'
  }"
  class="flex row"
>
  <div id="cityInfoContainer" class="flex flex-col justify-end ml-3">
    <h1 class="text-shadowed-white text-6xl font-bold mb-3">
      {{ selectedCity.name }}
    </h1>
    <p class="text-shadowed-white">
      {{ selectedCity.lon }}° N, {{ selectedCity.lat }}° E
    </p>
    <br />
    <p class="text-shadowed-white" id="desc">{{ selectedCity.desc }}</p>
    <br />
    <a
      mat-raised-button
      id="readMoreButton"
      routerLink="/place/{{ selectedCity.name.toLowerCase() }}"
      >Read more details</a
    >
  </div>
  <div class="mb-[150px]">
    <app-location-cards
      [locations]="cities"
      [selectedLocation]="selectedCity"
    ></app-location-cards>
  </div>
</div>
