<!--'radial-gradient(rgba(0, 0, 0, 0) 65%, rgba(0, 0, 0, 0.6)),-->
<div
  id="citiesContainer"
  [ngStyle]="{
    backgroundImage: ' url(' + selectedCity.bgImage + ')'
  }"
  class="flex flex-col items-center sm:flex-row sm:items-end"
>
  <div
    id="cityInfoContainer"
    class="max-w-[90vw] sm:max-w-[40vw] mt-[70px] sm:mt-[0px] sm:mb-[200px] flex flex-col justify-end ml-3"
  >
    <h1 class="text-shadowed-white text-6xl font-bold mb-3">
      {{ selectedCity.name }}
    </h1>
    <p class="text-shadowed-white">
      {{ selectedCity.lon }}° N, {{ selectedCity.lat }}° E
    </p>
    <br />
    <p class="text-shadowed-white" id="desc">{{ selectedCity.desc }}</p>
    <br />
    <a
      mat-raised-button
      id="readMoreButton"
      routerLink="/place/{{ selectedCity.name.toLowerCase() }}"
      >Read more details</a
    >
  </div>
  <div class="sm:mb-[150px] overflow-hidden w-[100vw]">
    <app-location-cards
      [locations]="cities"
      [(selectedLocation)]="selectedCity"
      filter="city"
    ></app-location-cards>
  </div>
</div>
