/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;600&family=Quicksand:wght@500&display=swap");

.frosted {
  border-radius: 0.5rem;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.34),
    rgba(255, 255, 255, 0.3)
  );
  backdrop-filter: blur(10px);
}
