<input
  [(ngModel)]="searchQuery"
  (ngModelChange)="change($event)"
  class="rounded frosted shrink mt-[42vh] placeholder:text-[25px] sm:placeholder:text-[35px]"
  placeholder="Search Routes..."
  id="searchBar"
/>
<div id="resultContainer" class="rounded-sm frosted">
  <ng-container *ngFor="let route of routes | slice : 0 : 5" class="test">
    <ng-container *ngIf="searchQuery !== ''">
      <p routerLink="/place/{{ route.name.toLowerCase() }}">{{ route.name }}</p>
    </ng-container>
  </ng-container>
</div>
