<input
  [(ngModel)]="searchQuery"
  (ngModelChange)="change($event)"
  class=" rounded frosted shrink" placeholder="Search Cities..."
/>
<div id="resultContainer" class="rounded-sm frosted">
  <ng-container *ngFor="let route of routes" class="test">
    <ng-container
      *ngIf="
        searchQuery !== '' &&
        route.name.toUpperCase().includes(searchQuery.toUpperCase())
      "
    >
      <p routerLink="/place/{{route.name.toLowerCase()}}" >{{ route.name }}</p>
    </ng-container>
  </ng-container>
</div>
