<div></div>
<app-navbar [onMainPage]="true"></app-navbar>
<div class="wrapper" id="topDiv">
  <header class="flex flex-col justify-start">
    <img src="assets/para3.jpg" class="background-back" />
    <img src="assets/para2%20copy.png" class="background" />
    <img src="assets/para1.png" class="foreground" />
    <h1 class="background-text text-white">Explore the wonders of Macedonia</h1>
    <app-search></app-search>
    <button mat-raised-button class="mt-5" (click)="randomLocation()">
      Take me somewhere
    </button>
  </header>
  <div class="absolute text-white text-center top-[155%] w-full">
    <h1 class="text-6xl font-bold mx-2">EXPLORE LOCATIONS</h1>
    <h1 class="text-6xl font-bold mx-2">︎↯</h1>
  </div>
</div>

<div id="citiesDiv">
  <app-cities></app-cities>
</div>
