<div class="wrapper">
  <header  class="flex flex-col items-center">
    <app-navbar style="z-index: 1" class="absolute top-0"></app-navbar>
    <img src="assets/para3.jpg" class="background-back">
    <img src="assets/para2%20copy.png" class="background">
    <img src="assets/para1.png" class="foreground">
    <h1 class="background-text text-white">Explore the wonders of Macedonia</h1>
    <app-search></app-search>

  </header>
</div>
<div class="flex justify-center">
  <h1 class="text-8xl font-bold justify-self-end">EXPLORE LOCATIONS</h1>
</div>

<div id="citiesDiv">
  <app-cities></app-cities>
</div>
