<div id="bookmarkContainer">
  <app-navbar [displayScroll]="false"></app-navbar>
  <div>
    <div class="flex flex-wrap min-h-[100vh] min-w[100vw] pt-[4vh]">
      <div *ngIf="!bookmarkedPlaces.length">
        <h1>No bookmarks yet</h1>
      </div>
      <app-single-card
        *ngFor="let place of bookmarkedPlaces"
        [place]="place"
        [navigateOnClick]="true"
      ></app-single-card>
    </div>
    <!-- <app-location-cards class="mt" [locations]="bookmarkedPlaces" filter="njefnei"></app-location-cards> -->
  </div>
</div>
