.fpbp {
  background: #171717;
  min-height: 100vh;
}

.full-page-container {
  height: 100vh;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
